@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ClassroomAssignment.Domain.Models.StudentClass

<span> @Model.Name </span>
<span> @Model.Id </span>
