@{
    ViewData["Title"] = "Home Page";
}
@model List<ClassroomAssignment.Domain.Models.StudentClass>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach(var classes in Model)
    {
        <a asp-action="Details" asp-controller="Home" asp-route-id="@classes.Id">
        <span> @classes.Name </span>
        </a>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
